<?xml version='1.0' encoding='UTF-8'?>
<user>
  <fullName>MANAGE_DOMAINS</fullName>
  <properties>
    <net.hurstfrost.jenkins.avatar.user.AvatarProperty plugin="avatar@1.2"/>
    <jenkins.security.ApiTokenProperty>
      <apiToken>{AQAAABAAAAAw88JHtB4LpM/8e0Xrb+rI4XJWP5vEn3TAtPdCZpUN+llC+lxEYucb7T23wtS0mAii+7p8tVkAFUlHOhaDF2ecmQ==}</apiToken>
    </jenkins.security.ApiTokenProperty>
    <com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty plugin="credentials@2.1.16">
      <domainCredentialsMap class="hudson.util.CopyOnWriteMap$Hash"/>
    </com.cloudbees.plugins.credentials.UserCredentialsProvider_-UserCredentialsProperty>
    <hudson.tasks.Mailer_-UserProperty plugin="mailer@1.20"/>
    <hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty plugin="email-ext@2.61">
      <triggers/>
    </hudson.plugins.emailext.watching.EmailExtWatchAction_-UserProperty>
    <hudson.plugins.favorite.user.FavoriteUserProperty plugin="favorite@2.3.1">
      <data class="concurrent-hash-map">
        <entry>
          <string>LifeCicle_IC_No_Pipeline</string>
          <boolean>true</boolean>
        </entry>
        <entry>
          <string>Launch Test_SilkCentral</string>
          <boolean>true</boolean>
        </entry>
      </data>
    </hudson.plugins.favorite.user.FavoriteUserProperty>
    <hudson.model.MyViewsProperty>
      <views>
        <hudson.model.AllView>
          <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
          <name>all</name>
          <filterExecutors>false</filterExecutors>
          <filterQueue>false</filterQueue>
          <properties class="hudson.model.View$PropertyList"/>
        </hudson.model.AllView>
      </views>
    </hudson.model.MyViewsProperty>
    <org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty plugin="display-url-api@2.2.0">
      <providerId>default</providerId>
    </org.jenkinsci.plugins.displayurlapi.user.PreferredProviderUserProperty>
    <hudson.model.PaneStatusProperties>
      <collapsed/>
    </hudson.model.PaneStatusProperties>
    <org.jenkinsci.plugins.p4.email.P4UserProperty plugin="p4@1.8.2"/>
    <hudson.search.UserSearchProperty>
      <insensitiveSearch>true</insensitiveSearch>
    </hudson.search.UserSearchProperty>
  </properties>
</user>