<?xml version='1.0' encoding='UTF-8'?>
<com.cloudbees.hudson.plugins.folder.Folder plugin="cloudbees-folder@6.2.1">
  <actions>
    <io.jenkins.blueocean.service.embedded.BlueOceanUrlAction plugin="blueocean-rest-impl@1.3.3">
      <blueOceanUrlObject class="io.jenkins.blueocean.service.embedded.BlueOceanUrlObjectImpl">
        <mappedUrl>blue/organizations/jenkins</mappedUrl>
        <modelObject class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
      </blueOceanUrlObject>
    </io.jenkins.blueocean.service.embedded.BlueOceanUrlAction>
  </actions>
  <description></description>
  <properties>
    <org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig plugin="pipeline-model-definition@1.2.5">
      <dockerLabel></dockerLabel>
      <registry plugin="docker-commons@1.9"/>
    </org.jenkinsci.plugins.pipeline.modeldefinition.config.FolderConfig>
    <org.jenkinsci.plugins.configfiles.folder.FolderConfigFileProperty plugin="config-file-provider@2.16.4">
      <configs class="sorted-set">
        <comparator class="org.jenkinsci.plugins.configfiles.folder.FolderConfigFileProperty$1"/>
      </configs>
    </org.jenkinsci.plugins.configfiles.folder.FolderConfigFileProperty>
  </properties>
  <folderViews class="com.cloudbees.hudson.plugins.folder.views.DefaultFolderViewHolder">
    <views>
      <hudson.model.AllView>
        <owner class="com.cloudbees.hudson.plugins.folder.Folder" reference="../../../.."/>
        <name>All</name>
        <description>Proyecto de la herramienta Check para la revisión de los aplicativos. Revisará los ficheros .EAR y WAR.&#xd;
&#xd;
Se han generado dos jobs diferentes:&#xd;
&#xd;
- LifeCicle_IC_No_Pipeline --&gt; Es un jobs generado desde un tipo &quot;Libre&quot;. Todas las configuraciones y steps se realizan desde los diferentes plugins (Nivel de dificultad de configuración BAJO)&#xd;
&#xd;
- LifeCicle_IC_Pipeline --&gt; Es un job generado desde un tipo &quot;Pipeline&quot;. Las configuraciones de plugins y diferentes steps se configuran en un script de groovy, ya sea lanzado desde Jenkins o incluyendo directamente el script en el box que se habilita.(Nivel de dificultad de configuración ALTO)&#xd;
&#xd;
Los &quot;steps&quot; propuestos en este proyecto no deben seguir la misma pauta, dependiendo de las necesidades del cliente, se generan tantos jobs/steps como se crean necesarios.</description>
        <filterExecutors>false</filterExecutors>
        <filterQueue>false</filterQueue>
        <properties class="hudson.model.View$PropertyList"/>
      </hudson.model.AllView>
    </views>
    <tabBar class="hudson.views.DefaultViewsTabBar"/>
  </folderViews>
  <healthMetrics>
    <com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
      <nonRecursive>false</nonRecursive>
    </com.cloudbees.hudson.plugins.folder.health.WorstChildHealthMetric>
  </healthMetrics>
  <icon class="com.cloudbees.hudson.plugins.folder.icons.StockFolderIcon"/>
</com.cloudbees.hudson.plugins.folder.Folder>