<slave>
  <name>Slave_Linux_Ubu_01</name>
  <description></description>
  <remoteFS>c:\jenkins</remoteFS>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.22">
    <host>192.168.35.134</host>
    <port>22</port>
    <credentialsId>a12ba667-d510-48ce-8e45-2e5353b49081</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.ManuallyProvidedKeyVerificationStrategy">
      <key>
        <algorithm>ssh-rsa</algorithm>
        <key>AAAAB3NzaC1yc2EAAAADAQABAAABAQDf1sdyHg0AA2sXVqUNZ8WQEX/Nhq+e+16W1l9Ko3m3t7V5
DAbZmxixADLdySk6FvibXQTPYxjC+RKhkr//eDWeWxlIcfCheO8synkHzf1jKRNZy2lkCaoGeBKN
GM0TfoT6PaKceFll4K4KTiOE6os2A8GOFLJLNl1nQvM7DUpSohxsnEVHHC9m89Hk8Yw26gZhhYr3
hExX0fYE4hjhtuvsHVO1QThq2bGdTW4Io7b8KMZV+GOKYkx5Rkg/EBJgwg0Pml9ZfEGbwCvGkgNl
Vsri/tv7Q68yI0UfsFhR6JcwZoRnxd3b9BtQJGBQ/VaQ1hUcJVT1ucsmmUPyYOR11EvF</key>
      </key>
    </sshHostKeyVerificationStrategy>
  </launcher>
  <label></label>
  <nodeProperties/>
</slave>